@charset "UTF-8";
@font-face {
	font-family: 'Haettenschweiler';
	src: url(../fonts/HATTEN.TTF);
}
@font-face {
	font-family: 'Agency FB';
	src: url(../fonts/AGENCYR.TTF);
}


body{
  font-family: "Yu Gothic Medium", "游ゴシック Medium",Yu Gothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
  line-height: 1.7;
  color: #000
}
a{
  text-decoration: none;
}

.wrapper{
  /*max-width: 1600px;*/
  margin: 0 auto;           /*中央に配置*/
  padding: 0 4%;            /*スマホ向けの余白の設定*/
}

/*header
-------------------------------------------------------------------------------*/
.logo{
  width:60px;
  margin-left: 45px;
}

.page-header{
  display:flex;
  justify-content: space-between;
  background-color: #000;
  height: 60px;
}

.main-nav{
  display:flex;               /*メニューを横並びに表示*/
  text-transform: uppercase;  /*すべての文字を大文字にする*/
  margin-right: 60px;
  margin-top: 10px;
  list-style: none;           /*リストの先頭のマーカーを無くす*/
}

.main-nav li{
  margin-left:36px;
}

.main-nav a{
  color:#fff;
  font-family: "Agency FB";
  font-size: 30px;
  margin-right: 20px;
}

#top .main-nav a:hover{
  color:#ff2599;
}
#works .main-nav a:hover{
  color:#009bc6;
}
#blog .main-nav a:hover{
  color:#ef7c21;
}

/*footer
-------------------------------------------------------------------------------*/
.page-footer{
  margin-top: 200px;
  height: 50px;
  width: 100%;
  background: #000;
  text-align: center;
  padding-top: 10px;
}

.page-footer p{
  font-family: 'Philosopher',serif;
  color: #fff;
  font-size: 0.875rem;
}


/*メイン画像
-------------------------------------------------------------------------------*/
.main{
  height: 220px;
}

.main-pic{
  height: 400px;
  width: 100%;
}

#top .main-pic{
  background-image: url(../images/top.png),linear-gradient(#ff006f,#f7c6bd);
  background-blend-mode: hard-light;
}
#works .main-pic{
  background-image: url(../images/works.png),linear-gradient(#4699ca,#f9e900);
  background-blend-mode: hard-light;
}
#blog .main-pic{
  background-image: url(../images/blog.png),linear-gradient(#f0821e,#fff000);
  background-blend-mode: hard-light;
}


.main-word{
  font-family: 'Haettenschweiler';
  font-size: 180px;
  text-align: right;
  margin-right: 20px;
  letter-spacing: 0.3rem;
}

/*本文
-------------------------------------------------------------------------------*/
.topic{
  margin-top: 40px;
  margin-bottom: 100px;
}

.topic-title{
  font-family: "Agency FB";
  font-size: 60px;
  text-align: center;
  text-decoration: underline;
}

.plofile{
  display: flex;  /*flexboxの指定*/
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.icon{
  height: 150px;
}

.plofile-name{
  font-size: 30px;
  font-weight: bold;
  margin-right: 20px;
}
.plofile-body{
  font-size: 15px;
  margin-left: 80px;
}
.plofile-myinfo{
    display: flex;  /*flexboxの指定*/
    margin-bottom: 10px;
    justify-content: flex-start;
    align-items: center;
}

/*メディアクエリ
-------------------------------------------------------------------------------*/
/*スマホ用配置*/
@media screen and (max-width: 800px){

  /*HEADER*/
  .logo{
    margin-top: 10px;
    width: 50px;
    margin-left: 20px;
  }
  .main-nav{
    align-items: center;
    margin-top: 0px;
    margin-right: 0px;
  }
  .main-nav a{
    font-size: 25px;
  }
  .main-nav li{
    margin-top: 0px;
  }
  .page-header{
    flex-direction: column; /*flexboxで縦並びに*/
    justify-content: center;
    align-items: center;
    height: 150px;
  }

  /*main*/
  .main{
    height: 50px;
  }
  .main-pic{
    height: 120px;
    width: 100%;
  }
  .main-word{
    font-size: 80px;
    margin-right: 10px;
    letter-spacing: 0.3rem;
  }

  /*topic*/
  .topic{
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .topic-title{
    font-family: "Agency FB";
    font-size: 35px;
  }

  .plofile{
    flex-direction: column;
    margin-top: 10px;
  }

  .icon{
    height: 100px;
    margin-bottom: 10px;
  }

  .plofile-name{
    font-size: 25px;
    font-weight: bold;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .plofile-body{
    font-size: 12px;
    margin-left: 0;
    text-align: center;
  }
  .plofile-myinfo{
      flex-direction: column;
  }


}
